body {
    background: #f4f7f6;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-card {
    border-radius: 15px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-admin {
    background: #198754;
    color: white;
    border-radius: 8px;
    padding: 12px;
}

.btn-admin:hover {
    background: #146c43;
    color: white;
}