.account-sidebar {
    background: linear-gradient(180deg, #c9f1db, #e7fbf0);
    border: 4px solid #0ca458;
    box-shadow: 0 8px 32px 0 #0000005e;
    border-radius: 24px;
    padding: 30px 20px;
    min-height: 100%;
    overflow: hidden;
    color: #ffffff;
}

.profile-image-wrapper {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 4px solid #0ca458;
    margin: 0 auto 15px;
    overflow: hidden;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    color: #0ca458;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

.sidebar-links {
    margin-top: 40px;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    color: #222222ff;
    text-decoration: none;
    font-weight: 500;
}

.sidebar-links a:hover {
    color: #0ca458;
}

.sidebar-links .logout {
    color: #b91c1c;
    font-weight: 600;
}

.box-details {
    background: #ffffff;
    border: #d9d9d9;
    border-radius: 24px;
    padding: 35px;
    box-shadow: 0 8px 32px 0 #0000005e;
}
/* for payment and bookings*/
.payment-card {
    border: 2px solid #0ca458;
    border-radius: 25px;
    transition: transform 0.2s ease;
}

.payment img {
    width: 100px;
    height: 75px;
    object-fit: cover;
    border-radius: 12px;
}

.status-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
#paymentTab .nav-link {
    color: #0ca458;
    border: 1px solid #0ca458;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 25px;
    margin-right: 10px;
}

#paymentTab .nav-link.active {
    background-color: #1aa866;
    color: white;
    border-color: #1aa866;
}